.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 4rem;
  margin-top: 4rem;
}

.track-crypto-heading,
.real-time-heading {
  font-size: 6.5rem;
  margin: 0;
}

.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
}
.track-crypto-heading:hover {
  color: var(--black);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
  transition: all 0.5s ease-in-out;
}

.real-time-heading {
  color: var(--blue);
}

.info-text {
  font-size: 1rem;
  color: var(--grey);
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
}

.phone-container {
  width: 50%;
  position: relative;
  padding: 2rem;
}

.iphone {
  position: absolute;
  z-index: 100;
  min-width: 300px;
  width: 50%;
  right: 2rem;
}

.gradient {
  position: absolute;
  min-width: 250px;
  width: 40%;
  right: 2rem;
  top: 8rem;
}

@media only screen and (max-width: 1250px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .iphone {
    min-width: 250px;
    width: 50%;
  }

  .gradient {
    min-width: 200px;
    top: 6rem;
  }
}
@media only screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .phone-container {
    display: block;
    margin: auto;
    margin-top: 3rem;
  }
  .iphone {
    left: 10%;
  }

  .gradient {
    left: 20%;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 4rem;
    text-align: center;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 1px;
  }
  .info-text {
    text-align: center;
  }
  .btn-flex {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .iphone {
    left: 0;
  }

  .gradient {
    left: 10%;
  }
}
